DISCORD_TOKEN        =
DISCORD_PREFIX       = !
DISCORD_OWNER_ID     = 399037422190460931
DISCORD_JOIN_MESSAGE = I has joined to do stuff 🌟

DISCORD_ACTIVITY_NAME = drunk as always 🍻
DISCORD_ACTIVITY_TYPE = playing
DISCORD_STATUS_TYPE   = idle
